 *{
    margin: 0%;
}
 body{
    background-image:url(cool);
    background-repeat:no-repeat;
    background-size: cover;
  
}
.home img{
    border-radius: 50%;
    position: absolute;
    left:25px;
    top:30px;
    transition:ease(0.3);
}
.home img:hover{
    transform: scale(0.9);
}

.main{
    position: absolute;
    height:500px;
    width: 700px;
    background-color:rgba(50, 151, 151, 0.534);
    margin-left:340px;
    margin-top:100px;
    border-radius:15px 60px;
}

p{
cursor: pointer;
padding-left:1rem;
font-weight:900;
font-size: medium;
color:rgba(29, 5, 5, 0.699);
padding-top:10px;

}
.chief img{
    border-radius:35px 15px;
    cursor: pointer;
}
.chief{
  display: flex;
  justify-content:center;
}
.about{
    color:rgba(0, 255, 255, 0.623);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:x-large;
    font-weight: 900;
    padding-top:2rem;
    padding-left:1rem;
    cursor: pointer;
}
h3{
    display: flex;
    justify-content: center;
    color: rgba(127, 255, 212, 0.507);
    cursor:pointer;
    margin-top:2rem;
}
   
